.stage-1-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-block-start: 4rem;
	margin-inline: auto;
}

.description {
	margin-block-start: 0;
	margin-block-end: 2rem;
	color: var(--medium-gray);
	font-weight: 600;
}

.label {
	display: block;
	font-weight: 600;
	color: var(--darkest-gray);
	margin-block-start: 1rem;
	margin-block-end: 0.5rem;
}

.input {
	display: block;
	min-width: 26em;
	padding: 1rem;
	font-size: 1em;
	border: 1px solid var(--light-gray);
	border-radius: 5px;
}

::placeholder {
	color: var(--medium-gray);
}

.button-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-block-start: 2rem;
	width: 26em;
}

.button {
	display: block;
	width: 100%;
	padding: 1rem;
	cursor: pointer;
	font-size: 1em;
	border: 1px solid var(--light-gray);
	border-radius: 5px;
	background-color: var(--bright-purple);
	color: white;
}