
.button-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: min(26em, 90vw);
}

.button {
	display: block;
	width: 100%;
	padding: 1rem;
	cursor: pointer;
	font-size: 1em;
	border: 1px solid var(--light-gray);
	border-radius: 5px;
	background-color: var(--bright-purple);
	color: white;
}

